annotated-types
anyio
apache-libcloud
appdirs
argon2-cffi
attrs
babel
beautifulsoup4
bleach
blinker
bottleneck>=1.6.0
brotli
certifi
chardet
click
colorama
cryptography
cycler
decorator
defusedxml
distro
dnspython
et-xmlfile
exceptiongroup
fonttools
fs
gast
h11
html5lib
httpcore
httplib2
httpx
idna
importlib-metadata
iniconfig
ipykernel
ipython
ipywidgets
jedi
jinja2
jiter
jmespath
joblib
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
keyring
kiwisolver
llvmlite
lockfile
lxml
lz4
markupsafe
matplotlib
matplotlib-inline
mlxtend
more-itertools
nbclient
nbconvert
nbformat
nest-asyncio
netaddr
netifaces
notebook
ntlm-auth
numba
numexpr
numpy>=1.26
oauthlib
odfpy
olefile
openai
openpyxl
packaging
pandas
pandocfilters
parso
pexpect
pillow
pluggy
ply
prometheus-client
prompt-toolkit
psutil
ptyprocess
pycryptodomex
pydantic
pygments
pyjwt
pyparsing
pyproj
pyrsistent
pytest
python-dateutil
pytz
pywinrm
pyyaml
pyzmq
reportlab
requests
requests-kerberos
requests-ntlm
requests-toolbelt
rtree
scikit-learn
scipy
seaborn
secretstorage
send2trash
simplejson
six
sniffio
soupsieve
sympy
tables
terminado
threadpoolctl
toml
tornado
tqdm
traitlets
typing-inspection
typing_extensions
unicodedata2
urllib3
wadllib
wcwidth
webencodings
widgetsnbextension
xlwt
xmltodict
zipp